<div class="form">
  <%= form_for word do |f| %>
    <% if word.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% word.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group left_form">
      <%= f.label :name, "タイトル", class: "form-label" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-group right_form">
      <%= f.label :english_name, "英語名", class: "form-label" %>
      <%= f.text_field :english_name, autofocus: true, autocomplete: "english_name", class: "form-control", placeholder: "空欄可" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "説明", class: "form-label" %>
      <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
    </div>

    <div class="form-group">
      <label class="form-label">タグ</label>
      <input type="text" name="tag_name" placeholder="タグを二つ以上登録する場合は、,(半角コンマ)で区切ってください" class="form-control" value="<%= @tag_list %>">
    </div>

    <div class="btn_group">
      <div class="form-group">
        <%= f.submit '下書きに保存', :name => 'draft', class: "btn", id: "btn_draft" %>
      </div>

      <div class="form-group">
        <%= f.submit '保存', :name => 'public', class: "btn", id: "btn_public" %>
      </div>
    </div>

  <% end %>
</div>