<div class="row user_container">
  <!-- ユーザプロフィール -->
  <div class="col-md-3">
    <div class="user_profile">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: asset_path("no_image.jpg") %><br>
      <%= @user.name %>｜@<%= @user.id %><br>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <%= @user.words.count %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
      <%= @user.favorites.count %><br><br>
      <%= @user.self_introduction %><br><br>
      <!-- ログイン済みかつ本人の場合のみ編集ボタンを表示 -->
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <!-- ユーザの投稿一覧 -->
    <div class="wrap col-md-9">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">投稿</a></li>
        <li><a href="#tab2" data-toggle="tab">お気に入り</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div class="row">
            <p class="user_words_message"><%= @message %></p>
            <%= render partial: 'words/shared/index', collection: @words, as: 'words' %>
          </div>
        </div>

        <div class="tab-pane" id="tab2">
          <div class="row">
            <p class="user_words_message"><%= @no_words %></p>
            <%= render partial: 'words/shared/favorite_index', collection: @user.favorite_words, as: 'favorite_words' %>
          </div>
        </div>

      </div>

  </div>
</div>