<!-- <div class="comment_block"> -->
  <% word.comments.each do |comment| %>
    <div class="comments_index">
      <div class="comment_user_left">
        <%= link_to user_path(comment.user_id) do %>
          <%= attachment_image_tag comment.user, :profile_image, size: '40x40', format: 'jpeg', fallback: "no_image.jpeg" %>
        <% end %>
      </div>
      <div class="comment_user_right">
        <div class="comment_user_status">
          <div class="comment_user_info">
            <%= comment.user.name %>@<%= comment.user_id %>｜<%= comment.updated_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
          <% if user_signed_in? && comment.user_id == current_user.id %>
            <div class="comment_edit_menu">
              ｜
              <%= link_to "編集", edit_word_comment_path(comment.word_id, comment.id) %>
              <%= link_to "削除", word_comment_path(comment.word_id, comment.id), method: :delete %>
            </div>
          <% end %>
        </div>
        <div class="comment_body">
          <%= comment.body %>
        </div>
      </div>
    </div>
  <% end %>
<!-- </div> -->
