<div class="row">
  <div class="col-md-3">
    <%= render partial: 'words/shared/side_menu', locals: {tags: @tags, all_ranks: @all_ranks} %>
  </div>

  <div class="col-md-9">
    <!-- 投稿部分 -->
    <div class="word_body">
      <div class="word_space">
        <ul id="word_title">
          <!-- 投稿タイトル -->
          <li class="bold-title"><%= @word.name %></li>
          <% unless @word.english_name.empty? %>
            <li><span class="word_subtitle">英語名：<%= @word.english_name %></span></li>
          <% end %>
          <!-- いいね機能 -->
          <%= render partial: 'favorites/shared/favorite', locals: { word: @word } %>
          <% if user_signed_in? && current_user.id == @word.user_id %>
            <li><%= status(@word.is_published) %></li>
            <li><%= link_to "編集", edit_word_path(@word), class: "btn" %></li>
            <li><%= link_to "削除", word_path(@word), method: :delete, class: "btn" %></li>
          <% end %>
          <li><%= @word.updated_at.strftime('%Y/%m/%d %H:%M') %></li>
        </ul>

        <!-- 投稿本文 -->
        <div class="word_description"><%= simple_format(@word.description) %></div>

        <!-- 投稿に紐づくタグ一覧 -->
        <div class="word_tag_list">
          <ul>
            <% @word.tags.each do |tag| %>
              <li><%= link_to tag.tag_name, words_path(tag_id: tag.id) %></li>
            <% end %>
          </ul>
        </div>

        <!-- 投稿したユーザ情報 -->
        <div class="user_info">
          <%= link_to user_path(@word.user_id) do %>
            <%= attachment_image_tag @word.user, :profile_image, size: '40x40', format: 'jpeg', fallback: asset_path("no_image.jpg") %>
            <span><%= @word.user.name %></span>
          <% end %>
        </div>
      </div>

      <div class="comments_space">
        <!-- コメント新規投稿 -->
        <% if user_signed_in? && @word.is_published == true %>
          <%= render partial: 'comments/shared/comment_form', locals: { word: @word, comment: @comment } %>
        <% end %>
        <!-- コメント一覧 -->
        <%= render partial: 'comments/shared/comment_index', locals: { word: @word } %>
      </div>
    </div>
  </div>
</div>