<div class="row">
  <div class="col">
    <h2>お問い合わせ内容確認</h2>

    <div class="form">
      <%= form_for @contact, url: contact_thanks_path do |f| %>
        <table class="table">
          <tr>
            <th>名前</th>
            <td>
              <%= f.hidden_field :name %>
              <%= @contact.name %>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= f.hidden_field :email %>
              <%= @contact.email %>
            </td>
          </tr>
          <tr>
            <th>お問い合わせ内容</th>
            <td>
              <%= f.hidden_field :body %>
              <%= simple_format(@contact.body) %>
            </td>
          </tr>
        </table>
        <p>内容にお間違いがなければ、送信ボタンを押してください。</p>
        <%= f.submit '戻る', class: 'btn', :name => 'back' %>
        <%= f.submit '送信', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

