<!DOCTYPE html>
<html>
  <head>
    <title>カタカナエイゴ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- /header -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="header_list">
          <li>
            <%= link_to "カタカナエイゴ", root_path %>
          </li>
          <% if user_signed_in? %><!-- ログイン後 -->
            <li>
              <%= link_to "新規投稿", new_word_path, class: "btn" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
            </li>
          <% else %> <!-- 未ログイン -->
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "btn" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <!-- /header -->

    <!-- /main -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- /main -->

    <!-- /footer -->
    <footer>
    </footer>
    <!-- /footer -->
  </body>
</html>
