<!DOCTYPE html>
<html>
  <head>
    <title>カタカナエイゴ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- /header -->
    <header>
      <nav class="avbar navbar-default navbar-fixed-top">
        <ul>
          <li><%=%></li>
        </ul>
      </nav>
    </header>
    <!-- /header -->

    <!-- /main -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- /main -->

    <!-- /footer -->
    <footer>
    </footer>
    <!-- /footer -->
  </body>
</html>
