<div class="row">
  <div class="col">
    <h2>プロフィール編集</h2>

    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="form-group" id="profile_up_btn">
          <%= attachment_image_tag @user, :profile_image, size: '200x200', format: 'jpeg', fallback: asset_path("no_image.jpg") %>
          <%= f.attachment_field :profile_image %>
        </div>

        <div class="form-group">
          <%= f.label :id, "ID", class: "form-label" %>
          <%= f.text_field :id, autofocus: true, autocomplete: "id", class: "form-control", placeholder: "半角英数1文字以上15文字以下" %>
        </div>

        <div class="form-group">
          <%= f.label :name, "アカウント名", class: "form-label" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :self_introduction, "自己紹介", class: "form-label" %>
          <%= f.text_field :self_introduction, autofocus: true, autocomplete: "self_introduction", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "保存", class: "btn btn-info btn_save" %>
        </div>
      <% end %>

      <br><h2 class="user_deletion">アカウント削除</h2>
      <p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "退会してよろしいですか？" }, method: :delete, class: "btn btn-danger", id: "user_delete_btn" %></p>

    </div>
  </div>
</div>